<!DOCTYPE html>
<html lang="en">
	<head>
        <!-- Requied meta tags -->
		<meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial scale=1, shrink-to-fit=no">
        
		<title>CodeUntapped</title>
        <link href="bootstrap/css/bootstrap.min.css" type="text/css" rel="stylesheet" />
        <link href="styles/LoginGroups.css" type="text/css" rel="stylesheet" />
	</head>
	<body>
        <h1>Secure Diversity</h1>
        <br/>
        <p id="welcomeBanner"></p>
		<br/>
        <button id="loginButton" type="button" class="btn btn-primary" data-toggle="modal" data-target="#loginModal" data-whatever="Login">Login</button>
        <button id="createUserButton" type="button" class="btn btn-success" data-toggle="modal" data-target="#createModal" data-whatever="Create">Create</button>

        <div class="modal fade" id="loginModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="loginModalLabel">Login required</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form>
                <div class="form-group">
                    <label for="login" class="col-form-label">Username:</label>
                    <input type="text" class="form-control" id="authLogin">
                </div>
                <div class="form-group">
                    <label for="password" class="col-form-label">Password:</label>
                    <input type="password" class="form-control" id="authPassword">
                </div>
                </form>
            </div>
            <div class="modal-footer">
                <!-- <button type="button" id="loginDefaultButton" class="btn btn-info">Groups</button>  -->
                <button type="submit" id="authenticate" class="btn btn-primary">Authenticate</button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
            </div>
        </div>
        </div>

        <div class="modal fade" id="createModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="createModalLabel">Please enter your info</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <form>
                            <div class="form-group">
                                    <label for="userRole" class="col-form-label">Role:</label> 
                                    <select name="userRole" id="createRole">
                                        <option value="SUPERUSER">Superuser</option>
                                        <option value="ADMIN">Admin</option>
                                         <option value="MEMBER">Member</option>
                                          <option value="ANALYSIT">Analysit</option>
                                    </select>
                            </div>
                            <div class="form-group">
                                <label for="login" class="col-form-label">Username:</label>
                                <input type="text" class="form-control" id="createLogin" pattern='^[A-Za-z0-9_-]{3,50}$' required>
                            </div>
                              <div class="form-group">
                                <label for="Email" class="col-form-label">Email:</label>
                                <input type="email" class="form-control" id="createEmail" required>
                            </div>
                            <div class="form-group">
                                <label for="password" class="col-form-label">Password (your password must contain at least 1 uppercase character, a number and be 6 characters long):</label>
                                <input type="password" class="form-control" id="createPassword"  pattern="^(?=.*[A-Za-z])(?=.*\d)[A-Za-z\d]{6,}$" required>
                            </div>
                             <div class="form-group">
                                <label for="password" class="col-form-label">Confirm Password:</label>
                                <input type="password" class="form-control" id="confimPassword" pattern="^(?=.*[A-Za-z])(?=.*\d)[A-Za-z\d]{6,}$" required>
                            </div>
                        </form>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        <button type="submit" id="create" class="btn btn-primary">Create</button>
                    </div>
                    </div>
                </div>
            </div>
                 <p>created by Green Lion<p>
        <script src="scripts/jquery-3.3.1.js"> </script>
        <script src="jquery-ui/jquery-ui.js"> </script>
		<script src="bootstrap/js/bootstrap.min.js"> </script>
        <script src="scripts/LoginUserGroup.js"> </script>
        <script src="scripts/dom.js"></script>
	</body>
</html>